<div class="content-wrapper" style="">

    <!-- Content Header (Page header) -->
    <div class="back pp">
        <h1 class="text-center"><span>About Us</span></h1>

    </div>
    <section class="content-header" style="background-color: white;">
        <ul class="center-list">
            <li class="active-custom"><a href="/about_us">About Us</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/privacy_policy">Privacy Policies</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            <li><a href="/how-it-works">How It Works?</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
        </ul>


    </section>
    <div class="container">
        <!-- Main content -->
        <section class="content">
            <div class="col-md-10 col-md-offset-1">

                <p class="ans">An extensive online catalogue for designers to share their latest collections and users to post reviews, Faisean Rata makes high-end luxury apparel shopping transparent and convenient. Irish for ‘Rate Fashion’, this first-of-its-kind website assembles pictures, details and customer reviews of designers’ latest collections, so you feel confident about spending your hard-earned money. </p>

                <p class="ans">Born out of a love for haute couture and all clothes chic, the story of Faisean Rata is written by Radhika Goel. Corporate consultant by day, entrepreneurial wiz by night, Radhika wanted to bring together the collections of India’s well-loved designers in one place and make window-shopping easier. This website lets you compare pieces, read reviews or even post your own and make a mental note of where you’ll be shopping next.</p>

                <p class="ans">Radhika’s passion project is not an e-commerce website, but a listings platform. A store locator, an events calendar, the designer’s inspiration behind a collection and concise, detailed reviews so you know what’s worth the price tag – Faisean Rata makes shopping simple by giving you all the information you need beforehand.
                </p>
                <p class="ans">So, before you shop till you drop, make sure you’re armed with notes about fabric, price point and customer satisfaction. Impulse spending can wait, we’re helping you find and buy pieces that you’ll love forever.
                </p>


            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>