
<!--<script src="vendor/jQuery/jquery-2.2.3.min.js"></script>-->
<div class="content-wrapper" style="min-height: 402px;">
    <div class="container">

        <section class="content event-content">
            <div class="row ">




                <div ng-init="check_like($index)" class="item  card-spacing" ng-repeat="design in designs"  style=" display:inline-block;">

                    <div class="box box-primary design-card-potrait">
                        <div class="box-body box-profile design-card-size">
                            <a data-fancybox="images" href="{{design.image_url}}"> <img   class="img-customm img-responsive " ng-src="{{design.image_url}}" alt="User profile picture"></a>

                            <ul class="list-inline text-center" style="border-bottom: none;">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-lg margin-r-5"></i>{{ design.likes }}</a></li>
                                <li ><a fb-shared design="{{ design }}" class=" text-sm" style="cursor:pointer;"><i class="fa fa-share-alt fa-lg margin-r-5"></i> Share</a></li>

                            </ul>

                        </div>
                    </div>

                </div>


            </div>


        </section>

    </div>


</div>