
<!--<script src="vendor/jQuery/jquery-2.2.3.min.js"></script>-->
<div class="content-wrapper" style="min-height: 402px;">
    <div class="container">

        <section class="content event-content">
            <div class="row ">




                <li ng-init="check_like($index)" class="item col-md-3 col-xs-12 col-sm-4 " ng-repeat="design in designs"  style=" display:inline-block; margin-bottom: 40px;">

                    <div class="box box-primary design-card-potrait">
                        <div class="box-body box-profile design-card-size inner-card-spacing">
                            <a data-fancybox="images" href="{{design.image_url}}"> <img   class="img-customm img-responsive " ng-src="{{design.image_url}}" alt="design picture"></a>

                            <ul class="list-inline text-center" style="border-bottom: none;">
                                <li><a class="btn btn-primary btn-xs" style="background-color: #4267b2"><i class="fa fa-thumbs-up  margin-r-5" style="color: white;;"></i>LiKe &nbsp{{ design.likes }}</a></li>
                                <li><a fb-shared design="{{ design }}" class="btn btn-primary btn-xs" style="background-color: #4267b2">Share</a></li>

                            </ul>

                        </div>
                    </div>

                </li>



            </div>


        </section>

    </div>


</div>