<div class="content-wrapper">
    <div class="container ">

        <section class="designer-content container">
            <div class="filter col-md-12">
                <div class="col-md-6">
                    <input ng-model="keyword"class="form-control" type="text" placeholder="Keyword">
                </div>
                <div class="col-md-3 col-xs-12 filter-options">
                    <button ng-click="search()" type="button" class="btn btn-block btn-default btn-pink ">REFINE RESULTS</button>
                </div>
                <div id="clearFilterBtn" class="col-md-3 col-xs-12 filter-options">
                    <button ng-click="keyword='';category=undefined;location=undefined;rating=undefined;sex=undefined;search();" type="button" class="btn btn-block btn-default btn-pink">CLEAR RESULTS</button>
                </div>
                <div id="applyFilterlink" class="col-md-2 col-sm-2 col-xs-6  col-xs-offset-3"   >
                    <a class="center-block text-center" href="" > <button style="margin-top: 7px;" class="btn btn-block btn-default btn-pink " ng-click="showFilter()"> APPLY FILTERS </button></a>
                </div>
                <div id="clearFilterlink" class="col-md-2 col-sm-2 col-xs-6 col-xs-offset-3" style="display: none;" >
                    <a class="center-block text-center " href=""  > <button style="margin-top: 7px; " class="btn btn-block btn-default btn-pink" ng-click="keyword='';category=undefined;location=undefined;rating=undefined;sex=undefined;search()"> CLEAR FILTERS </button></a>
                </div><!-- /.col-* -->
            </div>


            <div id="filterDiv" class="col-md-12 filter-options">
                <div class="col-md-3 col-xs-12 drop">
                    <select ng-init="category='none'" ng-model="category" class="form-control" >
                        <option value="none" ng-selected="true">Category</option>
                        <option value="wedding">Wedding</option>
                        <option value="party">Party</option>
                    </select>
                </div>
                <div class="col-md-3 col-xs-12 drop">
                    <select ng-init="location='none'" ng-model="location" class="form-control">
                        <option value="none" ng-selected="true">Location</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Delhi">Delhi</option>
                    </select>
                </div>

                <div class="col-md-3 col-xs-12 drop">
                    <select ng-init="rating='none'" ng-model="rating" class="form-control">
                        <option value="none" ng-selected="true">Rating
                        <option value="1">HTL</option>
                        <option value="0">LTH</option>
                    </select>
                </div>
                <div class="col-md-3 col-xs-12 drop">
                    <select ng-init="sex='none'" ng-model="sex" class="form-control">
                        <option value="none" ng-selected="true">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Both">Both</option>
                    </select>
                </div>
            </div>

        </section>

        <div class="col-md-12">
            <h2 class="mid-head"><span ng-if="designers == undefined">No designers found</span><span ng-if="designers != undefined">{{ designers.length }} designers to be explored</span></h2>
            <hr>


            <div class="item active col-md-3" ng-repeat="designer in designers"  >
                <a ui-sref="designer-profile({id:designer.id})" >
                    <div class="box box-primary designer-card" style="float: left; margin-bottom: 42px;" >
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" ng-src="{{designer.image}}" alt="User profile picture">

                            <h3 class="profile-username text-center">{{designer.name}}</h3>
                            <p ng-if="$scope.location!= undefined" class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>{{ data.location }}</p>
                            <!--<p ng-show="!designer.location" class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>Location Not Provided</p>-->
                            <p ng-if="$scope.location == undefined" class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>Location not Provided</p>

                            <ul class="list-group list-group-unbordered">

                                <li class="list-group-item" style=" border-left: none; border-right: none; border-top-left-radius:0; border-top-right-radius: 0; cursor: default; color: black; padding-left:10px; " ng-show="!designer.rating"><strong>No Ratings</strong></li>
                                <li class="list-group-item" style="" ng-show="designer.rating">

                                    <b><i ng-if="designer.rating>=1" class="fa text-yellow fa-star fa-lg"></i>
                                        <i ng-if="designer.rating>=1.5 && designer.rating<2" class="fa text-yellow fa-star-half fa-lg"></i>
                                        <i ng-if="designer.rating>=2" class="fa text-yellow fa-star fa-lg"></i>
                                        <i ng-if="designer.rating>=2.5 && designer.rating<2" class="fa text-yellow fa-star-half fa-lg"></i>
                                        <i ng-if="designer.rating>=3" class="fa text-yellow fa-star fa-lg"></i>
                                        <i ng-if="designer.rating>=3.5 && designer.rating<2" class="fa text-yellow fa-star-half fa-lg"></i>
                                        <i ng-if="designer.rating>=4" class="fa text-yellow fa-star fa-lg"></i>
                                        <i ng-if="designer.rating>=4.5 && designer.rating<2" class="fa text-yellow fa-star-half fa-lg"></i>
                                        <i ng-if="designer.rating>=5" class="fa text-yellow fa-star fa-lg"></i>
                                    </b>

                                    <a class="pull-right">
                                        {{ designer.rating }}
                                    </a>
                                </li>
                                <!--<li class="list-group-item">-->
                                    <!--&lt;!&ndash;<b>{{ designer.reviews_count }} Votes, {{ designer.no_of_reviews }} Reviews</b> <a class="pull-right"></a>&ndash;&gt;-->
                                <!--</li>-->
                            </ul>

                            <a fb-share designer="{{ data }}" class="btn btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook"></i> Share on Facebook
                            </a>

                        </div>

                    </div>
                </a>
            </div>




        </div>

    </div>
</div>