
<div class="content-wrapper" style="min-height: 402px;">
    <div class="container">

        <section class="content event-content">
            <div class="col-md-4 col-xs-12" ng-repeat="event in events" style="margin-bottom: 15px;">

            <div class="info-box"  >
                <div class="event-date">
                    <span class="day ">{{ event.timestamp | date:'dd' }}</span>
                    <span class="month ">{{ event.timestamp | date:'MMMM' }}</span>
                </div>


                <div class="info-box-content">
                    <span class="info-box-text"><strong>{{ event.name }}</strong></span>
                    <span class="space"><i class="fa fa-map-marker"></i>{{ event.location }}</span>
                    <p><span class="space">By {{event.designerName }}</span></p>
                </div>


            </div>
            </div>


        </section>


    </div>


</div>
