<div class="content-wrapper" style="">

    <!-- Content Header (Page header) -->
    <div class="back">
        <h1 class="text-center"><span>FAQ</span></h1>

    </div>
    <section class="content-header" style="background-color: white;">
        <ul class="center-list">
            <li ><a href="/about_us">About Us</a></li>
            <li class="active-custom"><a href="/faq">FAQ</a></li>
            <li><a href="/privacy_policy">Privacy Policies</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            <li ><a href="/how-it-works">How It Works?</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>

        </ul>


    </section>
    <div class="container">
        <!-- Main content -->
        <section class="content">
            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">How can I sign up?</strong>
                <p class="ans">If you have a Facebook/Google account, you can use either of those to register on Faisean Ráta. Alternatively, you can fill in your details on our ‘Register Account’ page and you’re good to go!</p>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">What do I do if I’ve forgotten my password?</strong>
                <p class="ans">Don’t fret – just hit ‘Forgot Password’ and we’ll send you instructions to reset your password.</p>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">Do I need to register to browse through the website’s listings?</strong>
                <p class="ans">Yes, you need to register and create an account to rate and/or review a designer.</p>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">Is the information I provide to Faisean Ráta safe?</strong>
                <p class="ans">All the personal information that you share with us is absolutely safe. We would never share, or sell, your personal details.</p>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">Why can’t I see my reviews as soon as I post them?</strong>
                <p class="ans">Every review that you write goes through a checking process. We appreciate constructive criticism, but any reviews with derogatory, inflammatory, racist or personal remarks will not make it to the website.</p>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">How long does it take for my reviews to be scanned and posted?</strong>
                <p class="ans">Your reviews will be up on the website within 24 hours of being posted, after our checking process is complete.</p>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">Can I share pictures of designs from a collection?</strong>
                <p class="ans">Of course! You can share images of designs and spread the love by clicking the share button.</p>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <strong class="ques">How does Faisean Ráta use cookies?</strong>
                <p class="ans">A cookie is a piece of information that is stored on your computer's hard drive by your web browser which tracks your movements within websites. We use cookies to keep track of how often you visit our website and the browsing history to deliver content that is specific to your interests. They are designed to assist your browsing and make your Faisean Rata experience better. Rest assured, you have nothing to worry about.</p>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->