<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3><b>  <span style="color:#CC2B68;">Rate Fashion</span></b></h3>
                <h3>Let the designers feel your love!!</h3>


                <div class="input-gro search">
                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" type="text" placeholder="Filter By Keywords">

                    </div>
                    <span class="input-group-btn center-block">
                           <button type="submit" class=" center-block search-btn  btn btn-pink  btn-block btn-flat">SEARCH</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #ecf0f5;">
    <div class="container">
        <section class="">

            <h2 class="heading-margin">Top Designers <button type="submit" class=" heading-btn center-block btn btn-pink btn-white btn-block btn-flat">View All</button></h2><span><p style="opacity: 0.8; margin-top: -5px;">Designers with most reviews </p></span>

            <div class="box-body">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <a href="profile.html"><div class="item">
                            <div class="box box-primary designer-card">
                                <div class="box-body box-profile">
                                    <img class="profile-user-img img-responsive img-circle" src="dist/img/user4-128x128.jpg" alt="User profile picture">

                                    <h3 class="profile-username text-center">Designer Card</h3>

                                    <p class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>New Delhi</p>

                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <b><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i></b><a class="pull-right">3.2</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>3 Votes, 3 Reviews</b> <a class="pull-right"></a>
                                        </li>


                                    </ul>

                                    <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                    <a class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></a>
                                    <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                </div></a>
                        <!-- /.box-body -->
                    </div>


                </div>
                <a href="profile.html"><div class="item">
                    <div class="box box-primary designer-card">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="dist/img/user4-128x128.jpg" alt="User profile picture">

                            <h3 class="profile-username text-center">Designer Card</h3>

                            <p class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>New Delhi</p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i></b><a class="pull-right">3.2</a>
                                </li>
                                <li class="list-group-item">
                                    <b>3 Votes, 3 Reviews</b> <a class="pull-right"></a>
                                </li>


                            </ul>

                            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        </div></a>
                <!-- /.box-body -->
            </div>

    </div>
    <a href="profile.html"><div class="item active">
        <div class="box box-primary designer-card">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="dist/img/user4-128x128.jpg" alt="User profile picture">

                <h3 class="profile-username text-center">Designer Card</h3>

                <p class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>New Delhi</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i></b><a class="pull-right">3.2</a>
                    </li>
                    <li class="list-group-item">
                        <b>3 Votes, 3 Reviews</b> <a class="pull-right"></a>
                    </li>


                </ul>

                <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
            </div></a>
    <!-- /.box-body -->
</div>


</div>
</div>
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="fa fa-angle-left fa-lg"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="fa fa-angle-right fa-lg"></span>
</a>
</div>
</div>




<h2>Most Viewed Designs <button type="submit" class=" heading-btn center-block btn btn-pink btn-white btn-block btn-flat">View All</button></h2>
<div class="box-body">
    <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile">
                        <img class="img-customm img-responsive " src="dist/img/user4-128x128.jpg" alt="User profile picture">


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item  text-center ">
                                <b>Design Card</b>
                            </li>



                            <ul class="list-inline text-center">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-2x margin-r-5"></i> Like</a>
                                </li>
                                <li><a href="#" class=" text-sm"><i class="fa fa-share fa-2x margin-r-5"></i> Share</a></li>


                            </ul>
                        </ul>
                    </div>
                    <!-- /.box-body -->

                </div>

            </div>
            <div class="item">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile">
                        <img class="img-customm img-responsive " src="dist/img/user4-128x128.jpg" alt="User profile picture">


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item  text-center ">
                                <b>Design Card</b>
                            </li>



                            <ul class="list-inline text-center">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-2x margin-r-5"></i> Like</a>
                                </li>
                                <li><a href="#" class=" text-sm"><i class="fa fa-share fa-2x margin-r-5"></i> Share</a></li>


                            </ul>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="item active">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile">
                        <img class="img-customm img-responsive " src="dist/img/user4-128x128.jpg" alt="User profile picture">


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item  text-center ">
                                <b>Design Card</b>
                            </li>



                            <ul class="list-inline text-center">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-2x margin-r-5"></i> Like</a>
                                </li>
                                <li><a href="#" class=" text-sm"><i class="fa fa-share fa-2x margin-r-5"></i> Share</a></li>


                            </ul>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>


            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
            <span class="fa fa-angle-left fa-lg"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
            <span class="fa fa-angle-right fa-lg"></span>
        </a>
    </div>
</div>




<h2>Trending Designs <button type="submit" class=" heading-btn center-block btn btn-pink btn-white btn-block btn-flat">View All</button></h2>
<div class="box-body">
    <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile">
                        <img class="img-customm img-responsive " src="dist/img/user4-128x128.jpg" alt="User profile picture">


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item  text-center ">
                                <b>Design Card</b>
                            </li>



                            <ul class="list-inline text-center">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-2x margin-r-5"></i> Like</a>
                                </li>
                                <li><a href="#" class=" text-sm"><i class="fa fa-share fa-2x margin-r-5"></i> Share</a></li>


                            </ul>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="item">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile">
                        <img class="img-customm img-responsive " src="dist/img/user4-128x128.jpg" alt="User profile picture">


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item  text-center ">
                                <b>Design Card</b>
                            </li>



                            <ul class="list-inline text-center">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-2x margin-r-5"></i> Like</a>
                                </li>
                                <li><a href="#" class=" text-sm"><i class="fa fa-share fa-2x margin-r-5"></i> Share</a></li>


                            </ul>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="item active">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile reviewer-card">
                        <img class="profile-user-img img-responsive img-circle" src="dist/img/user4-128x128.jpg" alt="User profile picture">

                        <h3 class="profile-username text-center">Reviewer Card</h3>

                        <p class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>New Delhi</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i></b><a class="pull-right">3.2</a>
                            </li>
                            <li class="list-group-item unborder">
                                <b>3 Votes, 3 Reviews</b> <a class="pull-right"></a>
                            </li>


                        </ul>


                    </div>
                    <!-- /.box-body -->
                </div>


            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic3" data-slide="prev">
            <span class="fa fa-angle-left fa-lg"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic3" data-slide="next">
            <span class="fa fa-angle-right fa-lg"></span>
        </a>
    </div>
</div>

<h2>Top Reviewers <button type="submit" class=" heading-btn center-block btn btn-pink btn-white btn-block btn-flat">View All</button></h2>
<div class="box-body">
    <div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile">
                        <img class="img-customm img-responsive " src="dist/img/user4-128x128.jpg" alt="User profile picture">


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item  text-center ">
                                <b>Design Card</b>
                            </li>



                            <ul class="list-inline text-center">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-2x margin-r-5"></i> Like</a>
                                </li>
                                <li><a href="#" class=" text-sm"><i class="fa fa-share fa-2x margin-r-5"></i> Share</a></li>


                            </ul>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="item">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile">
                        <img class="img-customm img-responsive " src="dist/img/user4-128x128.jpg" alt="User profile picture">


                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item  text-center ">
                                <b>Design Card</b>
                            </li>



                            <ul class="list-inline text-center">
                                <li><a href="#" class=" text-sm"><i class="fa fa-thumbs-o-up fa-2x margin-r-5"></i> Like</a>
                                </li>
                                <li><a href="#" class=" text-sm"><i class="fa fa-share fa-2x margin-r-5"></i> Share</a></li>


                            </ul>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="item active">
                <div class="box box-primary designer-card">
                    <div class="box-body box-profile reviewer-card">
                        <img class="profile-user-img img-responsive img-circle" src="dist/img/user4-128x128.jpg" alt="User profile picture">

                        <h3 class="profile-username text-center">Reviewer Card</h3>

                        <p class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>New Delhi</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i><i class="fa text-yellow fa-star fa-lg"></i></b><a class="pull-right">3.2</a>
                            </li>
                            <li class="list-group-item unborder">
                                <b>3 Votes, 3 Reviews</b> <a class="pull-right"></a>
                            </li>


                        </ul>


                    </div>
                    <!-- /.box-body -->
                </div>


            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic4" data-slide="prev">
            <span class="fa fa-angle-left fa-lg"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic4" data-slide="next">
            <span class="fa fa-angle-right fa-lg"></span>
        </a>
    </div>
</div>


</div>


</section>

</div>
