<div class="content-wrapper" style="">

    <!-- Content Header (Page header) -->
    <div class="back pp">
        <h1 class="text-center"><span>How It Works?</span></h1>

    </div>
    <section class="content-header" style="background-color: white;">
        <ul class="center-list">
            <li ><a href="/about_us">About Us</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/privacy_policy">Privacy Policies</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            <li class="active-custom"><a href="/how-it-works">How It Works?</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
        </ul>


    </section>
    <div class="container">
        <!-- Main content -->
        <section class="content">
            <div class="col-md-10 col-md-offset-1">

                <p class="ans">A unique rate and review website to make luxe designer shopping easier, Faisean Rata’s fashion-forward community posts detailed reviews about their favourite designers’ latest collections. A useful tool for fashion enthusiasts and designers alike, it’s super easy to start engaging through our website.</p>

                <p class="ans">If you’re a shopaholic and/or an expert on all things sartorial, here’s what you have to do. After creating an account {you can sign up through Facebook or Google as well}, pick the designer you want to read about from our list. We provide information about their newest collections, their design inspiration and events that you can catch them at.  Then, write about them! Tell fellow community members about your favourite pieces, possible options for customization and your shopping experience.

                </p>

                <p class="ans">Become an influencer – rack up 50 points for each review you post and 10 points for each rating you give – as you gain followers and credibility.</p>
                <p class="ans">This unique fashion ecosystem is an interactive platform for designers to showcase their creations. If you’re a wardrobe wizard/fashion designer, you can connect with prospective buyers through our portal. All you need to do is send us some deets and high-resolution images of your collections and we take care of the rest. As your designs are rated and reviewed, you could be featured on our lists of ‘Top Rated Designers’, ‘Top Rated Designs’ and ‘Recently Reviewed Designers’.</p>

                <p class="ans">The best bit? We’re not a sales portal, so this service is completely free and dedicated solely to the love of fashion.</p>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>