<div class="content-wrapper">
    <div class="container">
        <section class="content">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="dist/img/user4-128x128.jpg" alt="User profile picture">

                        <h3 class="profile-username text-center">Nina Mcintire</h3>

                        <p class="text-muted text-center"><i class="fa fa-fw fa-map-marker"></i>New Delhi</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b style="color: #bd2b64;">Badge</b><span class="pull-right">abcd</span>
                            </li>
                            <li class="list-group-item unborder reviewer-card">
                                <b style="color: #bd2b64;">Points</b> <span class="pull-right">120</span>
                            </li>


                        </ul>


                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-9">
                <div class="box box-success user-box">
                    <div class="box-header ui-sortable-handle" style="cursor: move; font-size: 20px;">
                        Reviews




                    </div>
                    <div class="slimScrollDiv" style="position: relative; overflow: auto; width: auto; height: 400px;"><div class="box-body chat" id="chat-box" style="overflow:; width: auto; height: 400px;">
                        <!-- chat item -->
                        <div class="item">
                            <img src="dist/img/user4-128x128.jpg" alt="user image" class="online">

                            <p class="message">
                                <a href="#" class="name">

                                    By Designer 1
                                </a>

                            </p>
                            <div class="attachment">
                                <i class="fa text-yellow fa-star"></i>
                                <i class="fa text-yellow fa-star"></i>
                                <i class="fa text-yellow fa-star"></i>




                                <p class="filename">

                                    nice!! jsja csdnc nd vdjngd vdvjdnv,md,nlnvlnv enle  vlegeg g gg errg g g r gr  g gg g r h h e

                                </p>


                            </div>
                            <!-- /.attachment -->
                        </div>
                        <!-- /.item -->

                    </div>





        </section>
    </div>
</div>